<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <style>
    body {
      background-image: url(https://w.forfun.com/fetch/0c/0cf96e87348269d2a43f54c2496a25e1.jpeg?w=1000&r=0.5625);
      height: 100%;
      background-size: 100%;



    }

    .navbar {
      background-color: #854e30de;
    }

    .card:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 17px rgb(0, 0, 0, 0.35);
    }

    .text {
      margin-left: 350px;
      margin-top: 30px;
    }

    .text1 {
      margin-left: 430px;
      margin-top: -15px;
    }

    .navbar1 {
      background-color: #854e30de;
      height: 100px;
      justify-content: center;
      margin-top: -50px;
    }
  </style>

</head>

<body>
  <div class="navbar1 justify-content-center ">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-2">
          <div class="nav-brand con my-2"><img src="https://thumbs.dreamstime.com/b/vector-coffee-logo-21363066.jpg"
              class="rounded" style="height: 80px; width: 80px;" alt="logo">
          </div>
        </div>
        <div class="col-8">
          <figure class="text-white">
            <blockquote class="blockquote">
              <p class="display-6" style="margin-left: 15px;">Namma pasanga coffee shop</p>
            </blockquote>
            <figcaption class="blockquote-footer text-white-50">
              nambi vaanga sandhodama ponga
            </figcaption>
          </figure>
        </div>
        <div class="col-2 justify-content-center">
          <div class="nav">
            <li class="nav-item con my-xl-3">
              <a href="/login" class=" btn btn-outline-light">Login</a>
            </li>
            <li class="nav-item con my-xl-3">
              <a href="/register" class=" btn btn-outline-light">Register</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h4 class="text-white">You are Successfully <span class="text-success">logged in!</span></h4>
    <h1 class="display-6 text-white">Enjoy our food style</h1>
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://img.freepik.com/free-photo/close-up-view-brown-coffee-seeds-with-coffee-dark_179666-32787.jpg?size=626&ext=jpg&ga=GA1.1.957859079.1693199142&semt=ais"
            class="catd-img-top" alt="cofee">
          <div class="card-body">
            <h5 class="card-title">Black coffee</h5>

            <p class="card-text">Black coffee is not harmful but excess intake can be dangerous.</p>
            <a href="#" class="btn btn-outline-dark">add to cart</a>

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="https://t4.ftcdn.net/jpg/05/32/53/73/360_F_532537301_7B50suyogn9neJWfSRpiuLOvqpOmvOKg.jpg"
            class="catd-img-top" alt="cofee">
          <div class="card-body">
            <h5 class="card-title">Classic filter coffee</h5>

            <p class="card-text">It has been described as filter kaapi in India.</p>
            <a href="#" class="btn btn-outline-dark">add to cart</a>

          </div>
        </div>
      </div>

    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img
            src="https://content.jdmagicbox.com/comp/vadodara/z9/0265px265.x265.111019175442.d7z9/catalogue/cafe-americano-race-course-road-vadodara-coffee-shops-1enhpsd.jpg?clr=#666600"
            class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Cafe Americano</h5>

            <p class="card-text">Traditionally, there will be no milk but some people may add it depending on their
              personal preference.</p>
            <a href="#" class="btn btn-outline-dark">add to cart</a>

          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img
              src="https://content3.jdmagicbox.com/comp/delhi/l6/011pxx11.xx11.150912112349.f4l6/catalogue/cafe-coffee-day-connaught-place-delhi-coffee-shops-4a47mm6.jpg?clr="
              class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Cappuccino</h5>

              <p class="card-text">A cappuccino is an espresso-based coffee drink that is traditionally prepared with
                steamed milk foam.</p>
              <a href="#" class="btn btn-outline-dark">add to cart</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>